version: '3'

services:
  ##### Config Services - Start #####
  ### For YBDB - Start ###
  # rtdl-db:
  #   platform: linux/amd64
  #   image: yugabytedb/yugabyte:latest
  #   container_name: rtdl_rtdl-db
  #   volumes:
  #     - ./storage/rtdl-db_data:/home/yugabyte/yb_data
  #   command: ["bin/yugabyted", "start", "--base_dir=/home/yugabyte/yb_data", "--daemon=false"]
  #   expose:
  #     - 5433
  #   ports:
  #     - 5434:5433
  #   healthcheck:
  #       test: ["CMD", "yb-ts-cli", "--server_address=localhost", "is_server_ready"]
  #       interval: 10s
  #       timeout: 5s
  #       retries: 12

  # rtdl-db-init:
  #   platform: linux/amd64
  #   image: rtdl/psql-client:latest
  #   container_name: rtdl_rtdl-db-init
  #   volumes:
  #     - ./config/scripts/rtdl-create-user-db.sql:/rtdl-create-user-db.sql
  #   entrypoint: psql -h rtdl-db -p 5433 -U yugabyte -f /rtdl-create-user-db.sql
  #   deploy:
  #     restart_policy:
  #       condition: on-failure
  #       delay: 5s
  #       max_attempts: 5
  #       window: 10s
  #   depends_on:
  #     rtdl-db:
  #       condition: service_healthy
  ### For YBDB - End ###

  ### For Postgres - Start ###
  rtdl-db:
    platform: linux/amd64
    image: postgres:latest
    container_name: rtdl_rtdl-db
    volumes:
      - ./storage/rtdl-db_data:/var/lib/postgresql/data
    expose:
      - 5432
    # ports:
    #   - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 10s
        timeout: 5s
        retries: 12

  rtdl-db-init:
    platform: linux/amd64
    image: rtdl/psql-client:latest
    container_name: rtdl_rtdl-db-init
    volumes:
      - ./config/scripts/rtdl-create-user-db.sql:/rtdl-create-user-db.sql
    entrypoint: psql -h rtdl-db -p 5432 -U postgres -f /rtdl-create-user-db.sql
    environment:
      PGPASSWORD: postgres
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5
        window: 10s
    depends_on:
      rtdl-db:
        condition: service_healthy
  ### For Postgres - End ###
  ##### Config Services - End #####


  ##### Kafka/Redpanda Services - Start #####
  redpanda:
    command: 
    - redpanda
    - start
    - --smp
    - '1'
    - --reserve-memory
    - 0M
    - --overprovisioned
    - --node-id
    - '0'
    - --kafka-addr
    - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
    - --advertise-kafka-addr
    - PLAINTEXT://redpanda:29092,OUTSIDE://0.0.0.0:9092
    # NOTE: Please use the latest version here!
    image: docker.vectorized.io/vectorized/redpanda:v21.9.5
    container_name: rtdl_redpanda
    user: root
    volumes:
      - ./storage/redpanda/data:/var/lib/redpanda/data
    expose:
      - 9092
      - 9644
      - 29092
    ports:
    - 9092:9092
    - 29092:29092
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:9644/v1/status/ready"]
      start_period: 30s
      interval: 5s
      timeout: 2s
      retries: 24

  redpanda-setup:
    image: docker.vectorized.io/vectorized/redpanda:v21.9.5
    container_name: rtdl_redpanda-init
    command: topic create ingress --replicas 1 --brokers redpanda:29092
    depends_on:
      redpanda:
        condition: service_healthy
  ##### Kafka/Redpanda Services - End #####


  ##### Dremio Services - Start #####
  dremio:
    platform: linux/amd64
    image: dremio/dremio-oss
    container_name: rtdl_dremio
    user: root
    volumes:
      - ./storage/dremio/data:/opt/dremio/data
      - ./storage/rtdl-data_store:/mnt/datastore 
    expose:
      - 9047
      - 31010
      - 45678
    ports:
      - 9047:9047
      - 31010:31010
      - 45678:45678
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:9047/apiv2/server_status"]
        interval: 10s
        timeout: 5s
        retries: 24

  dremio-init:
    platform: linux/amd64
    image: curlimages/curl
    container_name: rtdl_dremio-init
    user: root
    volumes:
      - ./dremio/scripts/entrypoint-init.sh:/entrypoint.sh
    entrypoint: 
      sh -c "chmod +x /entrypoint.sh && sh /entrypoint.sh"
    depends_on:
      dremio:
        condition: service_healthy
  ##### Dremio Services - End #####
