version: '3'

services:
  ##### Config Services - Start #####
  ### For YBDB - Start ###
  # rtdl-db:
  #   platform: linux/amd64
  #   image: yugabytedb/yugabyte:latest
  #   container_name: rtdl_rtdl-db
  #   volumes:
  #     - ./storage/rtdl-db_data:/home/yugabyte/yb_data
  #   command: ["bin/yugabyted", "start", "--base_dir=/home/yugabyte/yb_data", "--daemon=false"]
  #   expose:
  #     - 5433
  #   # ports:
  #   #   - 5433:5432
  #   healthcheck:
  #       test: ["CMD", "yb-ts-cli", "--server_address=localhost", "is_server_ready"]
  #       interval: 10s
  #       timeout: 5s
  #       retries: 12

  # config:
  #   # build:
  #   #   context: ./config
  #   platform: linux/amd64
  #   image: rtdl/rtdl-config:latest
  #   container_name: rtdl_config
  #   expose:
  #     - 80
  #   ports:
  #     - 80:80
  #   environment:
  #     RTDL_DB_PORT: 5433
  # depends_on:
  #   rtdl-db:
  #     condition: service_healthy
  ### For YBDB - End ###

  ### For Postgres - Start ###
  rtdl-db:
    platform: linux/amd64
    image: postgres:latest
    container_name: rtdl_rtdl-db
    volumes:
      - ./storage/rtdl-db_data:/var/lib/postgresql/data
    expose:
      - 5432
    # ports:
    #   - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 10s
        timeout: 5s
        retries: 12
  ### For Postgres - End ###

  config:
    # build:
    #   context: ./config
    platform: linux/amd64
    image: rtdl/rtdl-config:latest
    container_name: rtdl_config
    expose:
      - 80
    ports:
      - 80:80
    environment:
      RTDL_DB_HOST: rtdl-db
      RTDL_DB_PORT: 5432
      RTDL_DB_USER: rtdl
      RTDL_DB_PASSWORD: rtdl
      RTDL_DB_DBNAME: rtdl_db
    depends_on:
      rtdl-db:
        condition: service_healthy
  ##### Config Services - End #####


  ##### Ingest Service - Start #####
  ingest:
    build:
      context: ./ingest
    platform: linux/amd64
    image: rtdl/rtdl-ingest:latest
    container_name: rtdl_ingest
    expose:
      - 8080
    ports:
      - 8080:8080
    environment:
      KAFKA_URL: kafka:9092
      KAFKA_TOPIC: ingress
      LISTENER_PORT: 8080
    depends_on:      
      - kafka
  ##### Ingest Service - End #####


  ##### Kafka Services - Start #####
  kafka-zookeeper:
    platform: linux/amd64
    image: bitnami/zookeeper:latest
    container_name: rtdl_kafka-zookeeper
    expose:
      - 2181
    ports:
      - 2181:2181
    environment:
      ALLOW_ANONYMOUS_LOGIN: yes
    restart: always

  kafka:
    platform: linux/amd64
    #image: wurstmeister/kafka:2.12-2.3.0
    image: bitnami/kafka:latest
    container_name: rtdl_kafka
    expose:
      - 9092
    ports:
      - 9092:9092
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_CREATE_TOPICS: "ingress:1:1"
      KAFKA_ZOOKEEPER_CONNECT: kafka-zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_LOG_RETENTION_MS: 1000
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 1500
    depends_on:
      - kafka-zookeeper
    restart: always
  ##### Kafka Services - End #####
  

  ##### Processing Services - Start #####
  statefun-manager:
    platform: linux/amd64
    image: apache/flink-statefun:3.1.0
    container_name: rtdl_process-statefun-manager
    expose:
      - 6123
      - 8081
    ports:
      - 8081:8081
    environment:
      ROLE: master
      MASTER_HOST: statefun-manager
    volumes:
      - ./storage/rtdl-statefun-manager_store:/checkpoint-dir
      - ./ingester/module.yaml:/opt/statefun/modules/ingester/module.yaml
    depends_on:
      - ingest

  statefun-worker:
    platform: linux/amd64
    image: apache/flink-statefun:3.1.0
    container_name: rtdl_process-statefun-worker
    expose:
      - 6121
      - 6122
    environment:
      ROLE: worker
      MASTER_HOST: statefun-manager
    volumes:
      - ./storage/rtdl-statefun-worker_store:/checkpoint-dir
      - ./ingester/module.yaml:/opt/statefun/modules/ingester/module.yaml
    depends_on:
      - statefun-manager
      - kafka

  statefun-functions:
    build:
        context: ./ingester
    platform: linux/amd64
    image: rtdl/process-statefun-functions:latest
    container_name: rtdl_process-statefun-functions
    expose:
      - 8082
    environment:
      RTDL_DB_HOST: rtdl-db
      RTDL_DB_PORT: 5432
      RTDL_DB_USER: rtdl
      RTDL_DB_PASSWORD: rtdl
      RTDL_DB_DBNAME: rtdl_db
      DREMIO_HOST: dremio
      DREMIO_PORT: 9047
      DREMIO_USERNAME: dipanjanb
      DREMIO_PASSWORD: ZAQ1234w!!
      DREMIO_MOUNT_PATH: /mnt/datastore
    volumes:
      - ./storage/rtdl-data_store:/app/datastore    
    depends_on:     
      rtdl-db:
        condition: service_healthy
      kafka:
        condition: service_started
      dremio:
        condition: service_healthy
  ##### Processing Services - End #####

  ##### Dremio Services - Start #####
  dremio:
    platform: linux/amd64
    image: dremio/dremio-oss
    container_name: rtdl_dremio
    volumes:
      - ./storage/dremio/data:/opt/dremio/data
      - ./storage/rtdl-data_store:/mnt/datastore    
    expose:
      - 9047
      - 31010
      - 45678
    ports:
      - 9047:9047
      - 31010:31010
      - 45678:45678
    healthcheck:
        test: ["CMD", "curl", "-f", "http://dremio:9047/apiv2/server_status"]
        interval: 10s
        timeout: 5s
        retries: 24
  ##### Dremio Services - End #####
  